<kendo-dialog
  *ngIf="isOpen"
  (close)="handleCancel()"
  [minWidth]="300"
  [width]="400"
>
  <kendo-dialog-titlebar>
    {{ isNew ? "Add new todo" : "Edit todo" }}
  </kendo-dialog-titlebar>

  <form [formGroup]="todoForm" class="flex flex-col space-y-5">
    <kendo-formfield>
      <kendo-label class="label" [for]="title" text="Title"></kendo-label>
      <input formControlName="title" #title kendoTextBox required />
      <kendo-formerror>Title is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label class="label" [for]="type" text="Type"></kendo-label>
      <kendo-dropdownlist
        formControlName="type"
        [data]="todoTypes"
        #type
      ></kendo-dropdownlist>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        class="label"
        [for]="description"
        text="Description"
      ></kendo-label>
      <kendo-textarea
        formControlName="description"
        #description
        placeholder="Description"
        [rows]="4"
        resizable="vertical"
      ></kendo-textarea>
    </kendo-formfield>

    <kendo-formfield *ngIf="!isNew" class="flex items-center space-x-2">
      <kendo-label
        class="text-xl font-medium"
        [for]="completed"
        text="Completed"
      ></kendo-label>
      <input
        formControlName="completed"
        #completed
        kendoCheckBox
        size="large"
        type="checkbox"
      />
    </kendo-formfield>

    <kendo-dialog-actions layout="end">
      <button
        kendoButton
        (click)="handleSave()"
        themeColor="primary"
        [disabled]="!todoForm.valid"
        type="submit"
      >
        Save
      </button>
      <button kendoButton (click)="handleCancel()" type="button">Cancel</button>
    </kendo-dialog-actions>
  </form>
</kendo-dialog>
