<kendo-dialog *ngIf="isOpen" (close)="onCancel()">
  <kendo-dialog-titlebar>
    {{ isNew ? "Add new todo" : "Edit todo" }}
  </kendo-dialog-titlebar>

  <form [formGroup]="todoForm">
    <kendo-formfield>
      <kendo-label [for]="title" text="Title"></kendo-label>
      <input formControlName="title" #title kendoTextBox required />

      <kendo-formerror>Error: Title is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label [for]="type" text="Type"></kendo-label>
      <kendo-dropdownlist
        formControlName="type"
        [data]="todoTypes"
        #type
      ></kendo-dropdownlist>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label [for]="description" text="Description"></kendo-label>
      <kendo-textarea
        formControlName="description"
        #description
        placeholder="Description"
        [rows]="4"
        resizable="vertical"
      ></kendo-textarea>
    </kendo-formfield>

    <kendo-formfield *ngIf="!isNew">
      <kendo-label [for]="completed" text="Completed"></kendo-label>
      <input
        formControlName="completed"
        #completed
        kendoCheckBox
        type="checkbox"
        [disabled]="isNew"
      />
    </kendo-formfield>

    <kendo-dialog-actions layout="end">
      <button
        kendoButton
        (click)="onSave()"
        themeColor="primary"
        [disabled]="!todoForm.valid"
        type="submit"
      >
        Save
      </button>
      <button kendoButton (click)="onCancel()" type="button">Cancel</button>
    </kendo-dialog-actions>
  </form>
</kendo-dialog>
